@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* --- A MÁGICA --- */
/* Isso avisa o Tailwind: "A variante dark: só deve ativar se tiver a classe .dark" */
@custom-variant dark (&:where(.dark, .dark *));

/* Variáveis de cor (Isso faz o fundo base funcionar) */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}